<footer class="footer-main">
    <section>
        <h2>Contact</h2>
        <section>
            <ul>
                <li><i class="bi bi-envelope-at"></i>
                    <span><a href="#"><b>pouubon2507@gmail.com</b></a></span>
                </li>
                <li>
                    <i class="bi bi-github"></i>
                    <span><a href="#"><b>Adison119</b></a></span>
                </li>
            </ul>
        </section>
    </section>
    <section>
        <h2>Project</h2>
        <section>
            <ul>
                <li><a href="#">Project 1</a></li>
                <li><a href="#">Project 2</a></li>
                <li><a href="#">Project 3</a></li>
            </ul>
        </section>
    </section>
    <section>
        <h2>About Me</h2>
        <section>
            <ul>
                <li><a href="#">Content1</a></li>
                <li><a href="#">Content2</a></li>
                <li><a href="#">Content3</a></li>
            </ul>
        </section>
    </section>
</footer>